---
export const prerender = true
import Layout from '@/layouts/Layout.astro';
import SelectSection from "@/components/SelectSection";
import MovieGridSection from "@/components/MovieGridSection.astro";
import MovieGridSkeleton from "@/components/MovieGridSkeleton.astro";
---

<Layout title="AstroFlim - Non commercial.">
    <main class="">
        <div class="flex flex-col gap-4 ">
            <div class="px-10 lg:px-40" >
                <SelectSection client:visible/>
            </div>

            <MovieGridSection server:defer>
                <MovieGridSkeleton slot={"fallback"}/>
            </MovieGridSection>
        </div>
    </main>
</Layout>