---
import MovieGridComponent from '@/components/MovieGridComponent'
import PaginationComponent from '@/components/PaginationComponent'
//Nanostores ?
---

<div class="flex flex-col items-center"
>
    {/*MovieGrid*/}
    <section class="flex flex-col items-center justify-center gap-4 py-8 md:py-10">
        <div class="container mx-auto px-4 py-8">
            <MovieGridComponent client:idle/>
        </div>

        <PaginationComponent client:visible/>
    </section>
</div>
