---
import type {MovieItem} from "@/types/types";
import MovieCardSkeleton from "@/components/MovieCardSkeleton.astro";
interface Props {
    items: MovieItem[]
}
const {
    items
} = Astro.props;
---
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-6">
    {items.map((item: MovieItem, index: number) => (
            <MovieCardSkeleton item={item} index={index}/>
    ))}
</div>